.window {
  height: 500px;
  width: 700px;
  background-color: black;
  border-radius: 0.75rem;
  overflow: hidden;

  .nav {
    padding-inline: 0.75rem;
    padding-block: 0.5rem;

    .dots {
      display: flex;
      gap: 0.25rem;

      .dot {
        height: 14px;
        width: 14px;
        background-color: white;
        border-radius: 50%; 
      }

      .red {
        background-color: rgb(240, 19, 19);
      }

      .yellow {
        background-color: yellow;
      }

      .green {
        background-color: rgb(28, 201, 28);
      }
    }
    
  }
}